.des {
    width: 85px;
    height: 46px;
    background-color: rgb(211, 90, 24);
    clip-path: polygon(100% 0%, 64% 47%, 100% 100%, 0 100%, 0% 50%, 0 0);
    position: relative;
    right: 15px;
    top: -2px;
   
}
.des span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: 10px;
    color: rgb(78, 15, 238);
    font-weight: 600;
    
}
.card {
    margin-top: 6%;
}

.adress {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 98, 95);
    font-size: 15px;
    text-align: center;
    background-color: rgb(152, 148, 144);
    margin-top: 0%;
}